    <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderItems">
        <td>{{ item.name}}</td>
        <td>{{ item.productId}}</td>
        <td>{{ item.itemType }}</td>
        <td>{{ item.price}}</td>
      </tr>
    </tbody>
  </table>

  <p>Total price: {{totalPrice | currency: 'CZK'}}</p>

  <div class="row">
    <div class="col-md-4">
      <br />
      <button type="button" class="btn btn-primary"(click)="onContinue()">Order</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <br />
      <button type="button" class="btn-secondary"(click)="onBack()">Back to Store</button>
    </div>
  </div>